/* CSS file */
@namespace "library://ns.tink.ws/flex/spark";

Alert
{
	skinClass: ClassReference("ws.tink.spark.skins.spark.controls.AlertSkin");
}

BorderDataNavigator
{
	skinClass: ClassReference("ws.tink.spark.skins.spark.controls.BorderDataNavigatorSkin");
}

DataNavigator
{
	skinClass: ClassReference("ws.tink.spark.skins.spark.controls.DataNavigatorSkin");
}

Form
{
	skin-class : ClassReference( "ws.tink.spark.skins.containers.FormSkin" );
}

FormItem
{
	skin-class : ClassReference( "ws.tink.spark.skins.containers.FormItemSkin" );
}

MultipleSelectionButtonBar
{
	skinClass: ClassReference("ws.tink.spark.skins.spark.controls.MultipleSelectionButtonBarSkin");
}

Navigator
{
	skinClass: ClassReference("ws.tink.spark.skins.spark.containers.NavigatorSkin");
}

RadioButtonBar
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.RadioButtonBarSkin");
}

ValidityVScrollBar
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.ValidityVScrollBarSkin");
}


