/* CSS file */
@namespace "library://ns.tink.ws/flex/spark";
@namespace controls "ws.tink.spark.controls.*";

Accordion
{
	skinClass: ClassReference("ws.tink.spark.skins.containers.AccordionSkin");
}

Accordion s|ButtonBarButton
{
	cornerRadius : 0;
}

Alert
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.AlertSkin");
}

BorderDataNavigator
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.BorderDataNavigatorSkin");
}

CheckBoxBar
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.CheckBoxBarSkin");
}

DataAccordion
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.DataAccordionSkin");
}

DataNavigator
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.DataNavigatorSkin");
}

DataAccordion s|ButtonBarButton
{
	cornerRadius : 0;
}

Form
{
	skin-class : ClassReference( "ws.tink.spark.skins.containers.FormSkin" );
}

FormItem
{
	skin-class : ClassReference( "ws.tink.spark.skins.containers.FormItemSkin" );
}

/*HPageStep*/

HStep
{
	skin-class : ClassReference( "ws.tink.spark.skins.controls.HStepSkin" );
}

InlineScroller
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.InlineScrollerSkin");
}

MouseOverStepper
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.MouseOverStepperSkin");
}

MultipleSelectionButtonBar
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.MultipleSelectionButtonBarSkin");
}

Navigator
{
	skinClass: ClassReference("ws.tink.spark.skins.containers.NavigatorSkin");
}

PageStepper
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.PageStepperSkin");
}

PropertiesList
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.PropertiesListSkin");
}

RadioButtonBar
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.RadioButtonBarSkin");
}

TimeStepper
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.TimeStepperSkin");
}

ValidityVScrollBar
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.ValidityVScrollBarSkin");
}

/*VPageStep*/

VStep
{
	skin-class : ClassReference( "ws.tink.spark.skins.controls.VStepSkin" );
}


